<app-card>
  <div class="flex flex-col gap-5">
    <div
      class="flex flex-col md:flex-row gap-y-3 items-start md:items-center justify-between"
    >
      <p class="text-zinc-800 text-base font-semibold">
        {{ length }} Attractions
      </p>
      <div
        class="flex flex-col md:flex-row gap-y-3 items-start md:items-center gap-5"
      >
        <div class="w-fit relative">
          <input
            type="text"
            prefix="search"
            class="max-w-[100%] w-[300px] md:w-[350px] placeholder:text-[#535353] placeholde::text-lg rounded-full border border-gray-300 p-2"
            placeholder="Search ..."
            (input)="onSearch($event)"
          />
          <img
            class="absolute end-3 top-2"
            src="/images/search-icon.svg"
            alt="search"
          />
        </div>
        <button
          class="bg-gold-500 px-5 py-2 text-white rounded-xl"
          (click)="onCreateAttraction()"
        >
          + Create Attraction
        </button>
      </div>
    </div>

    <div class="flex w-[100%]">
      <nz-table
        #basicTable
        [nzData]="dataSource"
        [nzFrontPagination]="false"
        class="w-full overflow-auto"
      >
        <thead>
          <tr>
            @for (column of columns; track column) {
            <th
              [nzSortOrder]="column.sortOrder"
              [nzSortFn]="column.sortFn"
              [nzSortDirections]="column.sortDirections"
            >
              {{ column.name }}
            </th>
            }
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data.id }}</td>
            <td>
              <div class="flex items-center gap-3">
                <img src="{{ data.coverimage }}" class="w-7 h-7 rounded-full" />
                <span>{{ data.name }}</span>
              </div>
            </td>
            <td>{{ data.detail }}</td>
            <td style="width: 120px">
              <div class="flex items-center gap-5">
                <img
                  (click)="onEditAttraction(data)"
                  class="cursor-pointer"
                  src="/images/edit.svg"
                  alt="edit"
                  title="edit"
                />
                <img
                  class="cursor-pointer"
                  src="/images/delete.svg"
                  alt="delete"
                  title="delete"
                  (click)="onDeleteAttraction(data)"
                />
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>

    <mat-paginator
      (page)="onPageChange($event)"
      [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[10, 20, 30]"
      aria-label="Select page"
      showFirstLastButtons
      [hidePageSize]="true"
    >
    </mat-paginator>
  </div>
</app-card>

<app-add-edit-attraction
  [selectedAttraction]="selectedAttraction"
  (closeModal)="closeModal()"
  *ngIf="showCreateModal"
></app-add-edit-attraction>
